{% extends listboard_base_template %}
{% load admin_urls %}
{% load edc_base_extras %}
{% load procurement_dashboard_extras %}
{% load edc_dashboard_extras %}
{% load static %}

{% block extra-css %}
{{ block.super }}
	<link href="{% static 'procurement_dashboard/css/listboard.css' %}"rel=stylesheet>
	<link href="{% static 'procurement_dashboard/css/bootstrap/bootstrap-table.min.css' %}"rel=stylesheet>
{% endblock extra-css %}


{% block extra-scripts %}
{{ block.super }}
	<script src="{% static 'procurement_dashboard/js/bootstrap/bootstrap-table.min.js' %}"></script>
	<script src="{% static 'procurement_dashboard/js/bootstrap/bootstrap-table-filter-control.min.js' %}"></script>
{% endblock %}

{% block main %}
<!-- start listboard main block-->

<!-- Filter pills -->
{% if listboard_view_filters %}
  <ul class="nav nav-pills nav-justified" id='filters'>
    {% for listboard_filter in listboard_view_filters %}
	    <li class="{% if f == listboard_filter.name or e == listboard_filter.name %} active {% endif %}">
	    	<a href="{% url listboard_filter_url %}?request_type={{ request_type }}&{{ listboard_filter.querystring }}">
	    		{{ listboard_filter.label }}{% if f == listboard_filter.name or e == listboard_filter.name %}&nbsp;<i class="fa fa-check fa-fw"></i>{% endif %}
	    	</a>
	    </li>
    {% endfor %}
  </ul>
 {% endif %}

<div class="row">
	<div id="toolbar">
		<h3 style='font-weight:300;font-size: 32px;'>
			{% if request_type == 'requests' %}	
				<span style="font-size: 36px;"><img src="{% static 'procurement_dashboard/images/order.png' %}" width="30"></img></span> My{{request_type|title}} 
				<a id="purchasereq_add" title="add purchase requisition" role="button" data-toggle="tooltip" data-placement="right" title="Add Purchase Requisition"
					href="{{ purchase_req_add_url }}?next={{ purchase_req_listboard_url }},request_type&request_type={{request_type}}" style="padding:10px">
	            	<span><img src="{% static 'procurement_dashboard/images/plus.png' %}" width="25"></img></span>
	    		</a>
			{% elif request_type == 'approvals' %}
				<span class="iconify" data-icon="mdi-file-check" data-inline="false" style="font-size: 36px;"></span> My{{request_type|title}}
			{% elif request_type == 'confirmfunds' %}
				<span class="iconify" data-icon="fa-solid:check-double" data-inline="false"></span> Confirmation of Funds
			{% else %}
				<span class="iconify" data-icon="fa-solid:check-double" data-inline="false"></span> Purchase Requistions
			{% endif %}
		</h3>
	</div>
</div>

<!-- begin table -->
<div class="table table-responsive">
<table 	class="table table-hover table-striped small" style="border-top:3px solid #cecece"
		data-toggle="table"
		data-toolbar="#toolbar"
		data-toolbar-align="left"
		data-filter-control="true"
		data-show-columns="true"
  		data-show-columns-toggle-all="true"
		data-show-fullscreen="true"
		data-pagination="true"
 >
<thead style="background-color:#F0F8FF">

{% block listboard_table_header %}
     <!-- begin results header -->
    <th width="80%"></th>
    <th data-field='req_date' data-sortable='true' data-filter-control="input"  data-width="100" data-align="center">Requisition Date</th>
    <th data-field='req_study' data-sortable='true' data-filter-control="input">Requesting Study</th>
    <th data-field='user_requested' data-sortable='true' data-filter-control="input">Requested by</th>
    <th data-field='user_approved' data-sortable='true' data-filter-control="input">Approved by</th>
    <!-- end results header -->
{% endblock listboard_table_header %}

</thead><tbody>

{% block listboard_table_body %}

    {% for result in results %}
        <tr>
        {% block listboard_table_button_column %}
            <td "style="white-space: nowra;">
			    <div class="btn-group">
			 		{% purchase_requisition_button result %}
			 		{% justification_required result as required %}
			 		{% if required %}
			 			{% vendor_justification_button result %}
			 		{% endif %}
			 		{% if request_type == 'requests' %}
			 			{% request_button result user %}
			 		{% elif request_type == 'approvals' or request_type == 'confirmfunds' %}
			 			{% review_request_button result user %}
			 		{% endif %}
			 		{% request_approved result as approved %}
			 		{% if approved %}
			 			{% purchase_order_model result as add_purchase_order_href %}
			 			{% if not result.purchase_order_model_obj and request.user|has_group:"Procurement" %}
							<a 	id="purchaseorder_add_{{ prf_number }}" 
								title="{{ title }}"
								class="btn btn-warning btn-sm" data-toggle="tooltip"  data-placement="right"
								href="{{ add_purchase_order_href }}">
								    Purchase Order
							</a>
				 		{% elif result.purchase_order_model_obj %}
				 			 <a id="btn-dashboard" class="btn btn-info btn-sm" role="button"
					     		title="Generate PDF" href="{% url purchase_order_report_url result.purchase_order_model_obj.order_number %}">
					     		Purchase Order <i class="fa fa-external-link-alt"></i> 
			   				</a>
				 		{% endif %}
				 	{% endif %}
			    </div>
			   </td>
        {% endblock listboard_table_button_column %}

        {% block listboard_table_columns %}
            <td nowrap>{{result.req_date}}</td>
		    <td nowrap>{% bhp_allocations result %}</td>
		    <td nowrap>{{result.object.request_by}}</td>
		    <td nowrap>
		    {% if result.approved %}
		    	{{result.object.approval_by}}
		    {% endif %}
		    </td>
        {% endblock listboard_table_columns %}
        </tr>
    {% endfor %}

{% endblock listboard_table_body %}

</tbody>
</table>

<!-- begin spacer rows -->
<table>
<tr><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td></tr>
</table>
<!-- end spacer rows -->

</div><!-- end table -->

{% paginator_row %}

</div>  <!--end panel -->
</div> <!--end panel-group -->
<!-- end listboard main block -->
{% endblock main %}
